.app__trending {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.app__trending-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app__trending-text h1 {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -0.003em;
    color: #000000;
}

.app__trending-text p {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
    cursor: pointer;
    transition: all 0.3s ease;
}

.app__trending-text p:hover {
    color: #6B6B6B;
}

.app__trending-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
}

@media screen and (max-width: 1000px) {
    .app__trending-text h1 {
        font-size: 24px;
        line-height: 24px;
    }

    .app__trending-text p {
        font-size: 10px;
        line-height: 16px;
    }

    .app__trending-container {
        gap: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .app__trending-text h1 {
        font-size: 20px;
        line-height: 20px;
    }

    .app__trending-text p {
        font-size: 8px;
        line-height: 14px;
    }

    .app__trending-container {
        flex-direction: column;
        gap: 1rem;
    }
}