.app__card {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 4.57051px 54.8461px 10px rgba(197, 197, 197, 0.25);
    border-radius: 11.4263px;
    padding: 0.8rem;
    gap: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.app__card:hover {
    transform: scale(104%);
}

.app__card-image {
    flex: 3;
    align-self: center;
    transition: all 0.5s ease;
}

.app__card-image:hover {
    box-shadow: 0px 4.57051px 54.8461px 10px rgba(197, 197, 197, 0.25);
    /* transform: scale(100.5%); */
}

.app__card-image img {
    height: 100%;
    width: 100%;
}

.app__card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
    gap: 0.6rem;
    flex: 1;
}

.app__card-content > p {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.app__card-content_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app__card-content_info-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.4rem;
}

.app__card-content_info-left img {
    width: 35px;
}

.app__card-content_info-left p {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    color: #000000;
}

.app__card-content_info-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.1rem;
}

.app__card-content_info-right > p {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: #6B6B6B;
}

.app__card-content_info-right > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.3rem;
}

.app__card-content_info-right > div p {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;

    color: #000000;
}

@media screen and (max-width: 1000px) {
    .app__card {
        padding: 0.6rem;
        gap: 0.6rem;
    }

    .app__card-content {
        margin-bottom: 0.6rem;
    }

    .app__card-content > p {
        font-size: 12px;
        line-height: 20px;
    }

    .app__card-content_info-left {
        gap: 0.2rem;
    }

    .app__card-content_info-left img {
        width: 25px;
    }

    .app__card-content_info-left p {
        font-size: 8px;
        line-height: 14px;
    }

    .app__card-content_info-right p {
        font-size: 8px;
        line-height: 12px;
    }

    .app__card-content_info-right > div img {
        width: 8px;
    }

    .app__card-content_info-right > div p {
        font-size: 10px;
        line-height: 14px;
    }
}