.app__explore {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
}

.app__explore-heading {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.app__explore-heading h1 {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -0.003em;

    color: #000000;
}

.app__explore-heading > div {
    position: relative;
}

.app__explore-heading > div,
.app__explore-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 22px;
    border: 0.950352px solid #000000;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.app__explore-heading > div:hover,
.app__explore-btn:hover {
    transform: scale(102%);
    box-shadow: 0px 5px 50px rgba(197, 197, 197, 0.20);
}

.app__explore-heading > div {
    gap: 0.5rem;
}

.dropDown-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    z-index: 100;
    padding: 12px 20px;
    border-radius: 4px;
    backdrop-filter: blur(4px);
    background: linear-gradient(108.39deg, #ff56bb84 6.99%, #ff90778b 119.86%);
}

.dropDown-container button {
    all: unset;
    width: 100%;
    padding: 0.5rem 0;
    border-bottom: 1px solid #9796968d;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #f3f3f3;
    cursor: pointer;
}

.app__explore-heading div p,
.app__explore-btn p {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #000000;
}

.app__explore-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 4rem;
    column-gap: 2rem;
    width: 100%;
    justify-content: space-between;
}

.app__explore-container > div {
    max-width: fit-content;
}

.app__explore-btn {
    align-self: center;
}

@media screen and (max-width: 1000px) {
    .app__explore-heading h1 {
        font-size: 24px;
        line-height: 24px;
    }

    .app__explore-heading div,
    .app__explore-btn {
        padding: 10px 14px;
    }

    .dropDown-container button {
        font-size: 10px;
        line-height: 14px;
    }

    .app__explore-heading div p,
    .app__explore-btn p {
        font-size: 10px;
        line-height: 14px;
    }

    .app__explore-heading div img {
        width: 12px;
    }

    .app__explore-container {
        column-gap: 1rem;
        row-gap: 2rem;
    }
}

@media screen and (max-width: 500px) {
    .app__explore-heading h1 {
        font-size: 20px;
        line-height: 20px;
    }

    .dropDown-container button {
        font-size: 12px;
        line-height: 16px;
    }

    .app__explore-heading div p,
    .app__explore-btn p {
        font-size: 12px;
        line-height: 16px;
    }

    .app__explore-heading div,
    .app__explore-btn {
        padding: 10px 16px;
    }

    .app__explore-heading div img {
        width: 10px;
    }

    .app__explore-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}