.app__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.app__navbar-left {
    display: flex;
    align-items: center;
}

.app__navbar-left_logo,
.app__navbar-left_searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4.2rem;
}

.app__navbar-left_logo {
    gap: 0.3rem;
}

.app__navbar-left_searchBar {
    padding: 0.7rem 1rem;
    gap: 1rem;

    background: #F3F3F3;
    border-radius: 20px;
}

.app__navbar-left_searchBar input {
    all: unset;
    width: 180px;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1F1F1F;
}

.app__navbar-left_searchBar input::placeholder {
    color: #B7B7B7;
}

.app__navbar-links {
    display: flex;
    gap: 4rem;
}

.app__navbar-links .link:first-child {
    all: unset;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    cursor: pointer;
}

.app__navbar-links .link:nth-child(2),
.app__navbar-links .link:nth-child(3) {
    all: unset;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #6B6B6B;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    
}

@media screen and (max-width: 750px) {

}

@media screen and (max-width: 1200px) {

}