.app__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app__navbar-left {
    display: flex;
    align-items: center;
}

.app__navbar-left_logo,
.app__navbar-left_searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4.2rem;
}

.app__navbar-left_logo {
    gap: 0.3rem;
}

.app__navbar-left_searchBar {
    padding: 0.7rem 1rem;
    gap: 1rem;

    background: #F3F3F3;
    border-radius: 20px;
}

.app__navbar-left_searchBar input {
    all: unset;
    width: 180px;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1F1F1F;
}

.app__navbar-left_searchBar input::placeholder {
    color: #B7B7B7;
}

.app__navbar-links {
    display: flex;
    gap: 4rem;
}

.app__navbar-links .link:first-child {
    all: unset;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    cursor: pointer;
}

.app__navbar-links .link:nth-child(2),
.app__navbar-links .link:nth-child(3) {
    all: unset;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #6B6B6B;
    cursor: pointer;
    transition: all 0.5s ease;
}

.app__navbar-links .link:nth-child(2):hover,
.app__navbar-links .link:nth-child(3):hover {
    color: #151515;
}

.app__navbar-menu {
    display: none;
}

@media screen and (max-width: 1000px) {
    .app__navbar-left_logo img {
        width: 20px;
    }

    .app__navbar-left_logo,
    .app__navbar-left_searchBar {
        margin-right: 2rem;
    }

    .app__navbar-left_searchBar {
        padding: 0.6rem 0.7rem;
        gap: 0.5rem;
    }

    .app__navbar-left_searchBar img {
        width: 20px;
    }

    .app__navbar-left_searchBar input {
        width: 140px;
        font-size: 14px;
    }

    .app__navbar-links {
        gap: 2rem;
    }

    .app__navbar-links > .link:nth-child(1), 
    .app__navbar-links > .link:nth-child(2), 
    .app__navbar-links > .link:nth-child(3) {
        font-size: 14px;
    }
}

@media screen and (max-width: 500px) {
    .app__navbar {
        position: relative;
    }

    .app__navbar-links {
        display: none;
    }

    .app__navbar-left_searchBar {
        display: none;
    }

    .app__navbar-menu {
        display: flex;
    }

    .app__navbar-left_logo img {
        width: 16px;
    }

    .app__navbar-menu_container {
        position: absolute;
        right: 3rem;
        top: 4.5rem;
        z-index: 100;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
        padding: 1rem 1.5rem;
        background: #000000b0;
        backdrop-filter: blur(4px);
        border-radius: 8px;
    }

    .close-icon {
        position: absolute;
        right: 0;
        top: -1.5rem;
    }

    .app__navbar-menu_container a {
        all: unset;
        font-family: 'DM Sans';
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
        color: #F3F3F3;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .app__navbar-menu_container a:hover {
        transform: scale(102%);
    }
}