.app__featuredCard {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 300px;
    background: #FFFFFF;
    box-shadow: 0px 3.59751px 43.1701px rgba(197, 197, 197, 0.25);
    border-radius: 9px;
    padding: 1.5rem;
    gap: 1.5rem;
    transition: all 0.5s ease;
    cursor: pointer;
    transition: all 0.5s ease;
}

.app__featuredCard:hover {
    transform: scale(101%);
}

.app__featuredCard:hover {
    box-shadow: 0px 5px 50px rgba(197, 197, 197, 0.40);
}

.app__featuredCard-image {
    height: 100%;
    width: 80%;
}

.app__featuredCard-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.app__featuredCard-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.3rem;
}

.app__featuredCard-content_avatar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.3rem;
}

.app__featuredCard-content_avatar img {
    width: 30px;
}

.app__featuredCard-content_avatar p {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;

    color: #000000;
}

.app__featuredCard-content_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}

.app__featuredCard-content_info h1 {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.003em;

    color: #000000;
}

.app__featuredCard-content_info p {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: #6B6B6B;
}

.app__featuredCard-content_info p:last-child {
    font-size: 12px;
    line-height: 16px;
    color: #000000;
}

.app__featuredCard-content_bid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.app__featuredCard-content_bid-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.1rem;
}

.app__featuredCard-content_bid-left > p,
.app__featuredCard-content_bid-right > p:first-child {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: #6B6B6B;
}

.app__featuredCard-content_bid-left > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.3rem;
}

.app__featuredCard-content_bid-left > div p,
.app__featuredCard-content_bid-right > p:last-child {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;

    color: #000000;
}

.app__featuredCard-content_bid-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.1rem;
}

.app__featuredCard-content_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    width: 100%;
    gap: 12px;
    background: linear-gradient(108.39deg, #FF56BB 6.99%, #FF8F77 119.86%);
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.app__featuredCard-content_btn:hover {
    transform: scale(104%);
}

.app__featuredCard-content_btn p {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;

    color: #FFFFFF;
}

@media screen and (max-width: 1000px) {
    .app__featuredCard {
        padding: 0.8rem;
        gap: 1rem;
        height: 200px;
    }

    .app__featuredCard-image {
        width: 100%;
    }

    .app__featuredCard-content {
        width: 60%;
        gap: 0.6rem;
        position: relative;
    }

    .app__featuredCard-content_avatar img {
        width: 16px;
    }

    .app__featuredCard-content_avatar p {
        font-size: 8px;
        line-height: 14px;
    }

    .app__featuredCard-content_info {
        gap: 0.4rem;
    }

    .app__featuredCard-content_info h1 {
        font-size: 16px;
        line-height: 24px;
    }

    .app__featuredCard-content_info p,
    .app__featuredCard-content_bid-left > p,
    .app__featuredCard-content_bid-left p:last-child,
    .app__featuredCard-content_bid-right > p:first-child,
    .app__featuredCard-content_bid-right > p:last-child,
    .app__featuredCard-content_info p:last-child {
        font-size: 8px;
        line-height: 12px;
    }

    .app__featuredCard-content_bid {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.3rem;
    }

    .app__featuredCard-content_bid-left,
    .app__featuredCard-content_bid-right {
        flex-direction: row;
        justify-content: space-between;
    }

    .app__featuredCard-content_bid-left div {
        position: absolute;
        right: 0;
        gap: 0.2rem;
    }

    .app__featuredCard-content_bid-right p:last-child {
        position: absolute;
        right: 0;
    }

    .app__featuredCard-content_bid-left img {
        width: 7px;
    }

    .app__featuredCard-content_btn {
        padding: 6px 0;
        gap: 0.3rem;
    }

    .app__featuredCard-content_btn img {
        width: 8px;
    }

    .app__featuredCard-content_btn p {
        font-size: 9px;
    }
}

@media screen and (max-width: 500px) {
    .app__featuredCard {
        gap: 0.8rem;
    }

}

