.section__padding {
    padding: 4rem 12rem;
}

@media screen and (min-width: 1900px) {
    .section__padding {
        padding: 4rem 24rem;
    }
}
@media screen and (max-width: 1000px) {
    .section__padding {
        padding: 4rem;
    }
}

@media screen and (max-width: 500px) {
    .section__padding {
        padding: 3rem;
    }
}