.app__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    margin-bottom: 2rem;
}

.app__footer-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.3rem;
}

.app__footer-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 8rem;
}

.app__footer-info_left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 0.7;
    gap: 1rem;
}

.app__footer-info_left h2 {
    font-family: 'Clash Display';
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -0.003em;

    color: #151515;
}

.app__footer-info_left p,
.app__footer-info_right p {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;

    color: #6B6B6B;
}

.app__footer-info_left div  {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.3rem;
} 

.app__footer-info_right {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1.4;
    gap: 1rem;
}

.app__footer-info_right h3 {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}

.app__footer-info_right p {
    cursor: pointer;
    transition: all 0.5s ease;
}

.app__footer-info_right p:hover {
    color: #151515;
}

.app__footer-info_right-company,
.app__footer-info_right-creator,
.app__footer-info_right-community {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

.app__footer-info_right-community {
    gap: 1.2rem;
}

.app__footer-info_right-community > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border: 0.950352px solid #000000;
    border-radius: 35px;
    gap: 0.7rem;
}

.app__footer-info_right-community div input {
    all: unset;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    margin-left: 0.5rem;
    color: #000000;
}

.app__footer-info_right-community div > div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    padding: 0.3rem;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.5s ease;
}

.app__footer-info_right-community div > div:hover {
    transform: scale(105%);
}

.app__footer-extra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.app__footer-extra div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.app__footer-extra_copyright img {
    width: 14px;
}

.app__footer-extra_copyright p {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;

    color: #6B6B6B;
}

.app__footer-extra_socialMedia img {
    cursor: pointer;
    transition: all 0.5s ease;
}

.app__footer-extra_socialMedia img:hover {
    transform: scale(115%);
}