.app__featuredCollections {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    overflow: hidden;
}

.app__featuredCollections-title {
    text-align: center;
}

.app__featuredCollections-title h1 {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -0.003em;

    color: #000000;
}

.app__featuredCollections-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    position: relative;
}

.app__featuredCollections-cards > div:first-child {
    position: absolute;
    left: -250px;
    z-index: -1;
    overflow: hidden;
}

.app__featuredCollections-cards > div:first-child img {
    width: 100%;
}

.app__featuredCollections-cards > div:last-child {
    position: absolute;
    right: -250px;
    z-index: -1;
    overflow: hidden;
}

.app__featuredCollections-cards > div:last-child img {
    width: 100%;
}